
nav ul {
    text-align: center;
    background-color: aquamarine;
    border-radius: 25rem;
    padding: 1px;
    margin-left: 25%;
    margin-right: 25%;
}

nav li {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

table {
    border-spacing: 20px;
    margin: auto;
    border: solid;
    text-align: center;
}

footer {
    padding-top: 500px;
    text-align: center;
}

form {
    text-align: center;
}
