<h3>{{ $title }}</h3>
<div>
    <span tpl-foreach="$errors as $error"> {{ $error }} </span>
</div>
<form method="post" action="ex3.php">

    <input type="hidden" name="cmd" value="{{ $cmd }}" >

    <input name="temperature" value="{{ $value }}">

    <input type="submit" name="calculateButton" value="Calculate"/>

</form>

