<div tpl-if="$error" id="error-block">{{ $error }}<br></div>

<form name="addAuthor" id="input-form" action="?cmd=author-edit-submit" method="post">
    <input name="id" type="hidden" value="{{ $id }}">

    <label for="firstName">Eesnimi: </label>
        <input type="text" placeholder="Eesnimi" id="firstName" name="firstName" value="{{ $firstName }}">
        <br>

        <label for="lastName">Perekonna nimi: </label>
        <input type="text" placeholder="Perekonna nimi" id="lastName" name="lastName" value="{{ $lastName }}">
        <br>

        <label for="grade">Hinne: </label>
        <input type="radio" name="grade" id="grade" value="1" tpl-checked="$grade == 1"> 1
        <input type="radio" name="grade" id="grade" value="2" tpl-checked="$grade == 2"> 2
        <input type="radio" name="grade" id="grade" value="3" tpl-checked="$grade == 3"> 3
        <input type="radio" name="grade" id="grade" value="4" tpl-checked="$grade == 4"> 4
        <input type="radio" name="grade" id="grade" value="5" tpl-checked="$grade == 5"> 5
        <br>

    <input type="submit" id="deleteButton" name="deleteButton" value="Kustuta">
    <input type="submit" id="submitButton" name="submitButton" value="Uuenda">
</form>
