<div id="error-block"><tpl tpl-foreach="$errArray as $error">{{ $error }}</tpl></div>
<form name="addAuthor" method="post" id="input-form" action="?cmd=author-add-submit">
    <input type="hidden" name="id" value="{{ $id }}">

    <label for="firstName">Eesnimi: </label>
    <input type="text" placeholder="Eesnimi" id="firstName" name="firstName" value="{{ $fname }}">
    <br>

    <label for="lastName">Perekonna nimi: </label>
    <input type="text" placeholder="Perekonna nimi" id="lastName" name="lastName" value="{{ $lname }}">
    <br>

    <label for="grade">Hinne: </label>

    <input type="radio" name="grade" id="grade" value="1" tpl-checked="$grd == 1"> 1
    <input type="radio" name="grade" id="grade" value="2" tpl-checked="$grd == 2"> 2
    <input type="radio" name="grade" id="grade" value="3" tpl-checked="$grd == 3"> 3
    <input type="radio" name="grade" id="grade" value="4" tpl-checked="$grd == 4"> 4
    <input type="radio" name="grade" id="grade" value="5" tpl-checked="$grd == 5"> 5
    <br>

    <input name="submitButton" type="submit" value="Salvesta">
    <br>
</form>
