<div tpl-if="$message" id="message-block">{{ $message }}<br></div>

<table>
        <thead>
        <tr>
            <td>
                <h3>Eesnimi</h3>
            </td>
            <td>
                <h3>Perkonnanimi</h3>
            </td>
            <td>
                <h3>Hinne</h3>
            </td>
        </tr>
        </thead>

        <tbody>

        <tpl tpl-foreach="$authors as $author">
            <tr>
                <td><a href="?cmd=author-edit&id={{ $author[0] }}">{{ $author['1'] }}</a></td>
                <td>{{ $author['2'] }}</td>
                <td>{{ $author['3'] }}</td>
            </tr>
        </tpl>

        </tbody>
    </table>
