<div tpl-if="$message" id="message-block">{{ $message }}<br></div>

<table>
        <thead>
        <tr>
            <td>
                <h3>Pealkiri</h3>
            </td>
            <td>
                <h3>Autorid</h3>
            </td>
            <td>
                <h3>Hinne</h3>
            </td>
            <td>
                <h3>Loetud</h3>
            </td>
        </tr>
        </thead>
        <tbody>

        <tpl tpl-foreach="$books as $book">
            <tr>
                <td><a href="?cmd=book-edit&id={{ $book['0']}}">{{ $book['1'] }}</a></td>
                <td>{{ $book['3']}} {{ $book['2']}}</td>
                <td>{{ $book['4']}}</td>
            </tr>
        </tpl>

        </tbody>
    </table>
