<div id="error-block"><tpl tpl-if="$error">{{ $error }}</tpl></div>
<form id="input-form" action="?cmd=book-form-submit" method="post">
    <input type="hidden" name="id" value="{{ $id }}">

    <label for="title">Pealkiri: </label>
    <input type="text"
           placeholder="Raamatu pealkiri"
           id="title"
           name="title"
           value="{{ $name }}">
    <br>
    <label for="author1">Autor 1:</label>

    <select id="author1" name="author1">
        <option value=""></option>
        <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="$author1 == $author['id']" value="{{ $author['id'] }}">{{ $author['first_name'] }} {{ $author['last_name'] }}</option>
        </tpl>
    </select>
    <br>
    <label for="author2">Autor 2:</label>

    <select id="author2" name="author2">
        <option value=""></option>
        <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="author2 == $author['id']" value="{{ $author['id'] }}">{{ $author['first_name'] }} {{ $author['last_name'] }}</option>
        </tpl>
    </select>
    <br>
    <

    <label for="grade">Hinne: </label>

    <input type="radio" name="grade" id="grade" value="1" tpl-checked="$grd == 1"> 1
    <input type="radio" name="grade" id="grade" value="2" tpl-checked="$grd == 2"> 2
    <input type="radio" name="grade" id="grade" value="3" tpl-checked="$grd == 3"> 3
    <input type="radio" name="grade" id="grade" value="4" tpl-checked="$grd == 4"> 4
    <input type="radio" name="grade" id="grade" value="5" tpl-checked="$grd == 5"> 5
    <br>

    <label for="isRead"> Raamat loetud? </label>
    <input id="isRead" name="isRead" type="checkbox" tpl-checked="$isRead != ''"/>

    <br>

    <input name="submitButton" type="submit" value="Salvesta">
    <tpl tpl-if="$delButton == 1">
        <input name="deleteButton" class="delete" type="submit" value="Kustuta">
    </tpl>
    <br>

</form>