<div tpl-if="$error" id="error-block">{{ $error }}</div>

<form id="input-form" action="?cmd=book-add-submit" method="post">
    <input type="hidden" name="id" value="">

<label for="title">Pealkiri: </label>
<input type="text"
       placeholder="Raamatu pealkiri"
       id="title"
       name="title"
       value="{{ $title }}">
<br>
    <label for="author1">Autor 1:</label>

    <select id="author1" name="author1">
        <option value=""></option>
        <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="$author1 == $author['0']" value="{{ $author['0'] }}">{{ $author['1'] }} {{ $author['2'] }}</option>
        </tpl>
    </select>
<br>
    <label for="author2">Autor 2:</label>

    <select id="author2" name="author2">
        <option value=""></option>
        <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="$author2 == $author['0']" value="{{ $author['0'] }}">{{ $author['1'] }} {{ $author['2'] }}</option>
        </tpl>
    </select>
    <br>

    <label for="grade">Hinne: </label>

    <input type="radio" name="grade" id="grade" value="1" tpl-checked="$grade == 1"> 1
    <input type="radio" name="grade" id="grade" value="2" tpl-checked="$grade == 2"> 2
    <input type="radio" name="grade" id="grade" value="3" tpl-checked="$grade == 3"> 3
    <input type="radio" name="grade" id="grade" value="4" tpl-checked="$grade == 4"> 4
    <input type="radio" name="grade" id="grade" value="5" tpl-checked="$grade == 5"> 5
    <br>

<label for="isRead"> Raamat loetud? </label>
        <input name="isRead"
               id="isRead"
               tpl-checked="$isread != ''"
               type="checkbox" >

<br>

    <input type="submit" id="submitButton" name="submitButton" value="Salvesta">
<br>

</form>