<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ICD0007</title>
    <link href="../style.css" rel="stylesheet">
</head>
<body id = "{{ $pageid }}">
<nav>
    <div>
        <ul>
            <li><a id="book-list-link" href="?cmd=book-list">Raamatud</a></li>
            <li><a id="book-form-link" href="?cmd=book-form">Lisa Raamat</a></li>
            <li><a id="author-list-link" href="?cmd=author-list">Autorid</a></li>
            <li><a id="author-form-link" href="?cmd=author-form">Lisa autor</a></li>
        </ul>
    </div>
</nav>
<main>

    <article tpl-include="{{ $template }}">


    </article>

</main>
<footer>
    <div>
        <h5>ICD0007 Projekt, Rasmus Pidim 2022</h5>
    </div>
</footer>
</body>

</html>

